<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style='border:0; margin: 0'>
        <div id='map'></div>
        <div class="formBlock">
            <form id="form">
                <input type="text" name="start" class="input" id="lat" placeholder="Choose latitude coordinate" />
                <input type="text" name="end" class="input" id="long" placeholder="Choose longtitude coordinate" />
                <button id="submit">Submit</button>
            </form>
        </div>

        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
        <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=jCFHwMYkPi94l1veGjcexPfyPgvalVDp"></script>
        <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=jCFHwMYkPi94l1veGjcexPfyPgvalVDp"></script>
        <script src="../static/app.js"></script>
    </body>
</html>